.button_base {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: Bold;	
	border-style: solid;
    border-width: 1px;
    border-radius: 30px;
    border-color: aqua;	
    padding: 10px 20px;    

    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

            &:hover {         
                color: aqua;       
                border-color: #ccc;
            }
}

.button_news {
    @extend .button_base;
    font-size: 15px;
    color: #000;
    font-weight: lighter;    
}

.button_contactus {
    @extend .button_base;    
    border-color: #25D366;
    
    &:hover {         
        color: #25D366;             
    }

}